.parent
      display: flex
      flex-flow: column
      max-width: 1000px
      margin: 0 auto
      margin-top: 3rem
      height: calc(100% - 50px)

      h1
        font-family: 'Permanent Marker' !important
        padding-top: 1rem
        font-size: 3rem

      .user_box
        display: flex
        flex-flow: row
        align-content: stretch
        align-items: stretch

        div
          button
            width:100%
      
      .result_c
         display: flex
         flex-flow: row
         width: max-content

      .result-title
        font-weight: bold
        margin-right: 1rem
        min-width: 100px
        width: max-content
