.parent
      display: flex
      flex-flow: column
      max-width: 1000px
      margin: 0 auto
      padding-top: 50px
      padding-left: 1rem
      padding-right: 1rem
      height: calc(100% - 50px)

      h1
        font-family: 'Permanent Marker' !important
        padding-top: 1rem
        font-size: 3rem

      .user_box
        display: flex
        flex-flow: row
        align-content: stretch
        align-items: stretch

        div
          button
            width:100%
      
      .result_c
         display: flex
         flex-flow: row
         flex-wrap: warp
         width: max-content
         max-width: 100%

      .result-title
        font-weight: bold
        margin-right: 1rem
        min-width: 100px
        width: max-content

.footer
  display: flex
  justify-content: center
  align-items: flex-end
  height: 100%
  padding: 0.5rem 0